@use '@/app/styles/utils/mixins.scss' as *;


.mainslide {
  width: 100%;

  :global {
    .swiper-slide{
      position: relative;
      color: #fff;
      background-color: #000;
      opacity: 0.5;
      width: 46rem;
      height: 65rem;
      overflow: hidden;
      transition: all .05s ease;
    }
    .swiper-slide-active{
      opacity: 1;
    }
    .swiper{
      width: 100%; max-width: 120rem; padding:3rem 0 7rem; 
    }
  }
  
}

.swiper-slide img {
  width: 100%;    /* 슬라이드 이미지를 컨테이너에 맞게 크기 조정 */
  height: auto;   /* 이미지 비율 유지 */
}